<launch>
    # the input urdf file
    <arg name="urdf_file"/>
	
    # The directory onto which to write the output files.
    # Output files will be saved into the standard GraspIt! directory
    # structure within this directory.
    <arg name="output_directory"/>
    
    # the filename to use for writing the contact file. If
    # set to empty string, the default filename is used.
    <arg name="filename" default=""/>
     
    # the root link for the hand (or the arm) which is the start of the chain which should be
    # converted to the GraspIt format.
	<arg name="hand_root_link"/>

    # names of all finger joints, separated by white spaces
    <arg name="finger_joint_names"/>

    # factor to scale the model by 
    <arg name="scale_factor"/>

    # negate the joint movement direction
    <arg name="negate_joint_movement" default="false"/>

	<node name="contacts_generator_node" pkg="urdf2graspit" type="contacts_generator_node" respawn="false"  args="$(arg urdf_file) $(arg output_directory) $(arg hand_root_link) $(arg finger_joint_names)" output="screen">
		<param name="scale_factor" value="$(arg scale_factor)"/>
		<param name="filename" value="$(arg filename)"/>
        <param name="negate_joint_movement" value="$(arg negate_joint_movement)"/>
	</node>
</launch>
